:root {
  --skin: #f6c09c;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
}

body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.head{
  width: 100px;
  height: 200px;
  background-color: var(--skin);
  border-radius: 50px;
  position: relative  ;
}
.eye-left{
  width: 25px;
  height: 20px;
  background: var(--white);
  position: absolute;
  top: 60px;
  left: 25px;
  border-radius: 5px 0px 20px 20px;
}
.eye-right{
  width: 25px;
  height: 20px;
  background: var(--white);
  position: absolute;
  top: 60px;
  left: 50px;
  border-radius: 0px 5px 20px 20px;
}

.barba{
  position: relative;
  top: 46px;
  width: 100px;
  height: 130px;
  background-color: var(--black);
  border-radius: 50px;
} 

.cuello{
  position: relative;
  width: 70px;
  height: 40px;
  left: 16px;
  top: 200px;
  background-color: #F0C1A7;
}



.punto{
  top: 4px;
  left: 9px;
  position: relative;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}